egit-sizer/
servers/terraform/
clipmenu/
wofi-emoji/
modules-5.2.0/
Xyce-Release-7.6.0/
bash/electronics/qucs-*
xschem/
klayout/
netgen/
xschem_sky130/
flameshot/
ngspice/
extra/
sxhkd/
dust/
gh-cli/
goroot/
awscliv2.zip
aws/
mdp/
nvim-linux64/
nvim-linux64.tar.gz
pamixer/
meep/meep/
cli-dictionary/
watchman/
ucollage/
clipnotify/
autojump/
firenvim/
alacritty/
vscode/
node_modules/
re-search/
webssh2/
mons/
bash/blender/
bash/element/
i3-cinnamon/
betterlockscreen/
markdown-to-google-doc/
.ipynb_checkpoints/
bash/electronics/qucs-s-2.1.0/
*.tar.gz*
st/
st2/
tldr
z/
vimb/
fd/
CopyQ/
klayout/klayout-0.27.8/

cloudron-setup
go1.13.3.linux-amd64.tar.*
kitty*

larbs.sh
*.pid
*.deb
*.deb.*
*.rpm
*.tar
*.gz
*.json
*.lock
*.sqlite
jupyterhub_cookie_secret


get-pip.py
__pycache__
.mypy_cache/
pycharm*
Mambaforge-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh
progs.csv
