clipmenu/
xschem/
xschem_sky130/
ngspice/
extra/
dust/
gh-cli/
goroot/
mdp/
nvim-linux64/
nvim-linux64.tar.gz
pamixer/
meep/meep/
cli-dictionary/
watchman/
ucollage/
clipnotify/
autojump/
firenvim/
alacritty/
vscode/
node_modules/
re-search/
webssh2/
mons/
i3-cinnamon/
betterlockscreen/
markdown-to-google-doc/
.ipynb_checkpoints/
st/
st2/
tldr
z/
vimb/
fd/
CopyQ/
klayout/klayout-0.27.8/

cloudron-setup
go1.13.3.linux-amd64.tar.*
kitty*

larbs.sh
*.pid
*.deb
*.deb.*
*.rpm
*.tar
*.gz
*.json
*.lock
*.sqlite
jupyterhub_cookie_secret


get-pip.py
__pycache__
.mypy_cache/
pycharm*
Mambaforge-Linux-x86_64.sh
