clipmenu/
ucollage/
clipnotify/
autojump/
alacritty/
vscode/
node_modules/
re-search/
webssh2/
mons/
i3-cinnamon/
betterlockscreen/
markdown-to-google-doc/
.ipynb_checkpoints/
st/
st2/
tldr
z/

cloudron-setup
go1.13.3.linux-amd64.tar.*
kitty*

larbs.sh
*.pid
*.deb
*.deb.*
*.rpm
*.tar
*.gz
*.json
*.lock

get-pip.py
